<link
  href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap"
  rel="stylesheet"
/>
<div class="card">
  <div class="container">
    <div class="conteudo">
      <img src="../../assets/teste.jpg" class="prev-imagem" />
      <div class="bloco-centro">
        <span class="titulo">
          <b>Convite especial para Prefeitos(as) e Secretários(as)</b>
        </span>
        <span class="descricao">
          Vagas limitadas e exclusiva não sei o que num sei quela bla bla bla
        </span>
      </div>
      <div class="direita">
        <span class="tag-atual">Publicidade atual</span>
        <button class="button">
          <i class="pi pi-ellipsis-v"></i>
        </button>
      </div>
    </div>
    <div class="detalhes">
      <div>
        <span class="estado">São Paulo</span>
      </div>
      <div class="date">
        <i class="pi pi-calendar"></i>
        <span>Ativo até <b>12/12/1212</b></span>
      </div>
    </div>
  </div>
</div>
