.gdp {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 64px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #495057;
    padding-top: 76px;
}

.header {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  line-height: 1.2;
  margin: 0;
}

.input {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
}

app-card-publicidade.card {
  margin-bottom: 16px;
  display: block;  
}

app-card-publicidade.card:last-child {
  margin-bottom: 4px;
}

::ng-deep .input .p-dropdown {
  width: 415px !important;
}

.search-container {
  flex: 1;
}

.search-input {
  width: 100%;
}

.outrasPublicidades {
  display: block;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #6C757D;
  font-weight: 500;
}
