<link
  href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap"
  rel="stylesheet"
/>
<div class="gdp">
  <div class="header">
    <h1>Gerenciamento de Publicidade</h1>
    <p-button label="Nova publicidade" icon="pi pi-plus-circle"></p-button>
  </div>
  <div class="input">
    <p-dropdown
      optionLabel="name"
      placeholder="Visualizar todos os Estados"
      class="drop"
    />
    <p-iconField iconPosition="right" class="search-container">
      <p-inputIcon styleClass="pi pi-search" />
      <input type="text" pInputText class="search-input" />
    </p-iconField>
  </div>
  <div *ngFor="let pub of publicidades">
    <app-card-publicidade
      [publicidade]="pub"
      class="card"
    ></app-card-publicidade>
  </div>
</div>
