<div class="overlay">
  <div class="modal">
    <div class="container">
      <div class="header">
        <div class="texto">
          <span><b>Nova publicidade</b></span>
          <button class="fechar">
            <i class="pi pi-times" (click)="fechar()"></i>
          </button>
        </div>
      </div>
      <div class="corpo">
        <form>
          <div class="estadosContemplados">
            <label for="estadosDrop">Estados contemplados *</label>
            <br />
            <p-multiSelect
              id="estadosDrop"
              [options]="estados"
              optionLabel="descricao"
              [dataKey]="'id'"
              optionValue="id"
              [(ngModel)]="publicidade.id_publicidade_estado"
              name="id_publicidade_estado"
            />
          </div>
          <div class="titulo">
            <label for="textTitulo">Titulo *</label>
            <br />
            <input
              type="text"
              pInputText
              id="textTitulo"
              [(ngModel)]="publicidade.titulo"
              name="titulo"
            />
          </div>
          <div class="descricao">
            <label for="textDescricao">Descrição *</label>
            <br />
            <textarea
              rows="5"
              cols="30"
              pInputTextarea
              [autoResize]="true"
              id="textDescricao"
              [(ngModel)]="publicidade.descricao"
              name="descricao"
            >
            </textarea>
          </div>
          <div class="meio">
            <div class="botaoText">
              <label for="textBotao">Título do botão *</label>
              <input
                type="text"
                pInputText
                id="textBotao"
                [(ngModel)]="publicidade.titulo_botao_link"
                name="titulo_botao_link"
              />
            </div>
            <div class="botaoLink">
              <label for>Link do botão *</label>
              <input
                type="text"
                pInputText
                id="linkBotao"
                [(ngModel)]="publicidade.botao_link"
                name="botao_link"
              />
            </div>
          </div>
          <div class="datas">
            <div class="dataPublicacao">
              <label for="publicacaoData">Data de publicação *</label>
              <p-calendar
                [iconDisplay]="'input'"
                [showIcon]="true"
                inputId="icondisplay"
                id="publicacaoData"
                [(ngModel)]="publicidade.dt_inicio"
                name="dt_inicio"
              />
            </div>
            <div class="dataFim">
              <label for="fimData">Data final da publicação *</label>
              <p-calendar
                [iconDisplay]="'input'"
                [showIcon]="true"
                inputId="icondisplay"
                id="fimData"
                [(ngModel)]="publicidade.dt_fim"
                name="dt_fim"
              />
            </div>
          </div>
          <div class="imagem">
            <span>IMAGEM DA PUBLICIDADE</span>
            <div class="selecionarImagem">
              <div
                class="caixaDeUpload"
                (dragover)="onDragOver($event)"
                (drop)="onDrop($event)"
              >
                <div *ngIf="imagemPreview" class="preview-box">
                  <img [src]="imagemPreview" alt="Preview" />
                  <div class="preview-info">
                    <span>{{ nomeImagem }}</span>
                    <i
                      class="pi pi-trash delete-icon"
                      (click)="removerImagem()"
                    ></i>
                  </div>
                </div>
                <ng-container *ngIf="!imagemPreview">
                  <i class="pi pi-cloud-upload upload-icon"></i>
                  <p>Selecione o arquivo ou arraste aqui para adicioná-lo.</p>
                  <label class="upload-btn">
                    <i class="pi pi-paperclip"></i>
                    Selecionar arquivo
                    <input
                      type="file"
                      hidden
                      (change)="onFileSelected($event)"
                    />
                  </label>
                </ng-container>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="botoes">
        <p-button
          label="Cancelar"
          icon="pi pi-times"
          id="cancelar"
          (click)="fechar()"
        />
        <p-button
          label="Confirmar"
          icon="pi pi-check"
          (click)="salvarPublicidade()"
        />
      </div>
    </div>
  </div>
</div>
