.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1); // escurece fundo
    display: flex;
    align-items: center;
    z-index: 1000; // garantir que fique acima
}

.modal {
    background-color: var(--surface-overlay);
    border: 1px solid var(--surface-200);
    width: max-content;
    height: max-content;
    border-radius: 8px;
    position: fixed;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50% !important;
    left: 50% !important;
}

.container {
    padding: 0 24px;
}

.header {
    border-bottom: 1px solid #ccc;
    height: 75px;
    align-items: center;
    margin-left: -24px;
    margin-right: -24px;
    padding: 24px 0;
}

.texto {
    padding: 0 24px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
}

.fechar {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.estadosContemplados {
    padding: 24px 0px;
}
::ng-deep #estadosDrop .p-multiselect {
    width: 752px;
}

::ng-deep .titulo #textTitulo {
    width: 752px;
}

.descricao {
    padding: 24px  0px;
}

::ng-deep .descricao #textDescricao {
    gap: 8px;
    width: 752px;
    height: 96px !important;
}

.meio {
    display: flex;
    gap: 20px;
    width: 100%;
}

::ng-deep .botaoText #textBotao {
    width: 366px;
    flex: 1;
    display: flex;
   flex-direction: column;
}

::ng-deep .botaoLink #linkBotao {
    width: 366px;
    flex: 1;
    display: flex;
   flex-direction: column;
}

.datas {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 24px 0px;
}

::ng-deep .dataPublicacao #publicacaoData {
    width: 366px;
    flex: 1;
    display: flex;
    flex-direction: column;

}

::ng-deep .dataFim #fimData {
    width: 366px;
    flex: 1;
    display: flex;
    flex-direction: column;

}

.imagem {
    padding-bottom:  24px;
}

.finalContainer {
    border-top: 1px solid #ccc;
    margin-left: -24px;
    margin-right: -24px;
}

.final {
    margin-right: 24px;
    padding: 24px 0px;
    display: flex;
    justify-content: end;
}

::ng-deep .final #cancelar {
    padding-right: 20px;
}

::ng-deep #cancelar button {
    color: #495057;
    background-color: white;
    border-color: #495057;
}

::ng-deep .p-calendar input {
  cursor: pointer;
}

.caixaDeUpload {
  border: 1px solid #ced4da;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.upload-icon {
  font-size: 48px;
  color: #888;
}

.upload-btn {
  padding: 10px 20px;
  color: #4285F4;
  border: 1px solid #4285F4;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
}

.upload-btn i {
  margin-right: 8px;
}

.preview-box {
  margin-top: 16px;
}

.preview-box img {
  max-width: 200px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.preview-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.preview-box img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
}

.preview-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 14px;
  color: #555;
}

.delete-icon {
  cursor: pointer;
  color: red;
  font-size: 18px;
}